<button style="background: none; border: none" onclick="MudarCorFundo()">
        <li id="modeEscuro" style="display: none"><i class="fas fa-moon text-primary" style="font-size: 30px;"> <span style="font-size: 10px">Mode Escuro</span> </i></li>
        <li id="modeClaro" style="display: block"><i class="fas fa-sun text-primary" style="font-size: 30px; "> <span id="span" style="font-size: 10px">Modo Claro</span> </i></li>
</button>

<script>
    let modeEscuro = document.querySelector("#modeEscuro");
    let modeClaro = document.querySelector("#modeClaro");


    function MudarCorFundo(){
        if(modeClaro.style.display == "block"){
            modeEscuro.style.display = "block";
            modeClaro.style.display = "none";
            document.body.style = "font-size: 20px;background: #222;color: white;font-family: verdana;";
            localStorage.setItem("modo", "modeEscuro");
        } else {
            modeClaro.style.display = "block";
            modeEscuro.style.display = "none";
            document.body.style = "font-size: 20px;background: white;color: black;font-family: verdana;";
            localStorage.setItem("modo", "modeClaro");
        } 
    } 

    setInterval(() => {
        if(localStorage.getItem("modo") != null){
            if(localStorage.getItem("modo") == "modeEscuro"){
                modeEscuro.style.display = "block";
                modeClaro.style.display = "none";
                document.body.style = "font-size: 20px;background: #222;color: white;font-family: verdana;";
                //localStorage.clear("modo");
            } else {
                modeClaro.style.display = "block";
                modeEscuro.style.display = "none";
                document.body.style = "font-size: 20px;background: white;color: black;font-family: verdana;";
                //localStorage.clear("modo");
            } 
        }
    }, 1000);
</script>