
<header style="width: 100%; margin-left: 0;">
        <div style="min-height: 5vh;">
            <div class="col d-none d-flex justify-content-left align-items-center">
                Menu
            </div>

            <div class="col d-flex d-md-none justify-content-end align-items-center">
                <i class="fa-solid fa-bars p-1 m-2" id="barMenu" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasTop"></i>
            </div>

            <!--OFF CANVAS-->
            <div class="offcanvas offcanvas-start text-white" style="background: lightcoral; width: 250px;"
                id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasTopLabel"><b>Menu</b></h5>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>

                <div class="offcanvas-body text-white ">
                    <!--PAINEL-->
                    <ul id="ListaMenuOff-Canvas" class="d-table" type="none" class="d-flex">
                        
                        <div id="modoTelaPequena"></div>
                        <script> $("#modoTelaPequena").load("../addMode/modo_escuro_claro.html"); </script>

                        <a href="../inicio/">
                            <li>Inicio</li>
                        </a>
                        <li>
                            <details>
                                <summary style="color: white">Receitas</summary>
                                <ul type="none" id="temasOff-canvas">
                                    <a href="../temas/temaI.html">
                                        <li>Tema I</li>
                                    </a>
                                    <a href="../temas/temaII.html">
                                        <li>Tema II</li>
                                    </a>
                                    <a href="../temas/temaIII.html">
                                        <li>Tema III</li>
                                    </a>
                                    <a href="../temas/temaIV.html">
                                        <li>Tema IV</li>
                                    </a>
                                    <a href="../temas/temaV.html">
                                        <li>Tema V</li>
                                    </a>
                                </ul>
                            </details>
                        </li>
                        <a href="../PDF/">
                            <li>PDF</li>
                        </a>
                        <a class="btn text-primary"
                            style="padding-left: 0; padding-right: 0; font-size: 20px;font-family: verdana;"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <li>Sobre</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col d-none d-md-flex justify-content-end align-items-center">
                <ul id="ListaMenu" class="d-flex" type="none" class="d-flex">
                    
                    <div id="modoTelaGrande"></div>
                    <script> $("#modoTelaGrande").load("../addMode/modo_escuro_claro.html"); </script>
                    
                    <a href="../inicio/">
                        <li>Inicio</li>
                    </a>
                    <li>
                        <details>
                            <summary style="color: dodgerblue">Receitas</summary>
                            <ul type="none" id="temas">
                                <a href="../temas/temaI.html">
                                    <li>Tema I</li>
                                </a>
                                <a href="../temas/temaII.html">
                                    <li>Tema II</li>
                                </a>
                                <a href="../temas/temaIII.html">
                                    <li>Tema III</li>
                                </a>
                                <a href="../temas/temaIV.html">
                                    <li>Tema IV</li>
                                </a>
                                <a href="../temas/temaV.html">
                                    <li>Tema V</li>
                                </a>
                            </ul>
                        </details>
                    </li>
                    <a href="../PDF/">
                        <li>PDF</li>
                    </a>

                    <a class="btn text-primary"
                        style="padding-top: 0; padding-bottom: 0; font-size: 20px;font-family: verdana;"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <li>Sobre</li>
                    </a>
                </ul>

            </div>
        </div>

        <div class=" text-white d-flex justify-content-center align-items-center" id="divMenuLogo">

            <div class=" d-none d-sm-flex justify-content-left align-items-center" style="width: 100%">
                <div class=" col-2 border" style="border: 1px solid lightcoral">
                    <img src="../../assets/img/logo.jpg" alt="" style="width: 100%">
                </div>
                <div class=" col px-5 d-flex justify-content-left align-items-center">
                    <h2 style="border-bottom: 3px solid white">
                        <b>Jonh Sabores na Cozinha</b>
                    </h2>
                </div>
            </div>

            <div class=" d-flex mx-2 d-sm-none justify-content-left align-items-center"
                style="width: 100%; max-height: 10vh">
                <div class=" col-2  border" style="border: 1px solid lightcoral">
                    <img src="../../assets/img/logo.jpg" alt="" style="width: 100%">
                </div>
                <div class=" col px-3 d-flex justify-content-left align-items-center">
                    <p style="border-bottom: 3px solid white">
                        <b style="font-size: 16px">Jonh Sabores na Cozinha</b>
                    </p>
                </div>
            </div>

        </div>
</header>