* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    background: white;
    color: black;
    font-family: verdana;
}



#barMenu{
    cursor: pointer;
    color:lightcoral;
    font-size: 40px;  
    border: 3px solid lightcoral;
}

#divMenuLogo{
     background: lightcoral;
     min-height: 15vh;
}

#ListaMenu li{
    margin-top: 5px;
    margin-bottom: -5px;
    padding: 15px;
    cursor: pointer;
}

#ListaMenu li:hover{
    background: lightcoral;
    color: white;
}

#ListaMenu li details:hover{
    background: white;
    color: white;
}

#ListaMenuOff-Canvas li{
    margin-top: 5px;
    margin-bottom: -5px;
    padding: 15px;
    color: white;
    cursor: pointer;
}

#ListaMenuOff-Canvas li:hover{
    background: rgb(238, 203, 203);
    color: dodgerblue;
}

#ListaMenuOff-Canvas li details:hover{
    color: black;
}

a{
    text-decoration: none;
}

a:hover{
    color: white;
}

#temas li{
    width: 100%;
    background: white;
    color: dodgerblue;
}

#temasOff-canvas li{
    width: 100%;
    background: white;
    color: dodgerblue;
}

