<div id="headHTML"></div>
<script src="../../assets/jquery/jquery.js"></script>
<div id="header"></div>

<title>PDF</title>
<main>
    <div class="  d-flex justify-content-center align-items-center"
        style="min-height: 52.3vh; text-align: justify; width: 100%">

        <center>
            <div class=" mt-5 mb-5" style="width: 80%">
                <h1>Arquivos PDF disponíveis para Download</h1>
                <a href="../../assets/PDF/doces_caseiros.pdf">Tema I: Doces Caseiros</a> <br>
                <a href="../../assets/PDF/salgados_caseiros.pdf">Tema II: Salgados Caseiros</a> <br>
                <a href="../../assets/PDF/recheios_de_moda.pdf">Tema III: Recheios de Moda</a> <br>
                <a href="../../assets/PDF/bolos_de_moda.pdf">Tema VI: Bolos de Moda</a> <br>
                <a href="../../assets/PDF/pratos_saudaveis.pdf">Tema V: Pratos Saudáveis</a> <br>
            </div>
        </center>
    </div>
</main>

<div id="footer"></div>
<div id="footHTML"></div>
<script src="../../assets/js/ready_heads_and_foots.js"></script>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background: lightpink;">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center align-items-center" id="staticBackdropLabel">
                    <i class=" pt-3 "><b>Sobre</b></i> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark" style="background: lightpink;">
                Um site para suporte de vários confeiteiros, fornecendo receitas caseiras. <br><br><br>

                <b> <i class="fas fa-user"></i> Proprietário:</b> João Baptista Cachiombo <br>
                <b> <i class="fab fa-dev"></i> Desenvolvedor:</b> Eugénio Cachiombo <br>
            </div>
        </div>
    </div>
</div>
