<div id="headHTML"></div>
<script src="../../assets/jquery/jquery.js"></script>
<div id="header"></div>

<title>Tema II</title>
<main>
    <div class="  d-table justify-content-center align-items-center"
        style="min-height: 52.3vh; text-align: justify; width: 100%">

        <center>
            <div class=" mt-5 mb-5" style="width: 80%">
                <div>
                    <b>
                        <p class="display-3 text-center" style="font-weight: bold">Tema II</p>
                    </b>
                    <b>
                        <p class="display-3 text-center" style="font-weight: bold">Salgados caseiros</p>
                    </b>
                    <hr>
                </div>

                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Ressóis Caseiros </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>
                        <ul>
                            <li> 300g de peixe atum já picado</li>
                            <li> 300g de farinha de trigo </li>
                            <li> 1 colher de açúcar</li>
                            <li>6 colheres de sal</li>
                            <li>2 ovos</li>
                            <li>200g de pão ralado</li>
                            <li>1 cebola e pimenta já picado</li>
                            <li>4 ovos</li>
                            <li>200ml de leite</li>
                            <li>2 colheres de fermento biológico seco.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol type="1" class=" text-md-start">
                        <li class="pt-3  ">Com uma panela no fogo, colocar o leite, o açúcar, o sal e a
                            farinha de trigo. Misturar muito bem e apagar o lume.</li>
                        <li class="pt-3  text-md-start">Colocar os ovos e as colheres de fermento, misturar
                            muito bem e deixar descansar 15 minutos.</li>
                        <li class="pt-3  text-md-start">Em uma tigela fazer o recheio de cebola, pimenta e o peixe atum
                            já picado.</li>
                        <li class="pt-3 text-md-start">Esticar a massa, colocar o recheio e cortar ao seu gosto. Em
                            seguida passar ao ovo, no pão ralado e fritar.</li>
                        <li class="pt-3 text-md-start">Depois de fritas coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0004.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0004.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Coxinhas </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li> 300g de peixe atum já picado</li>
                            <li> 300g de farinha de trigo </li>
                            <li> 1 colher de açúcar</li>
                            <li>6 colheres de sal</li>
                            <li>2 ovos</li>
                            <li>200g de pão ralado</li>
                            <li>1 cebola e pimenta já picado</li>
                            <li>4 ovos</li>
                            <li>200ml de leite</li>
                            <li>2 colheres de fermento biológico seco.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3  ">Com uma panela no fogo, colocar o leite, o açúcar, o sal e a
                            farinha de trigo. Misturar muito bem e apagar o lume.</li>
                        <li class="pt-3  text-md-start">Colocar os ovos e as colheres de fermento, misturar
                            muito bem e deixar descansar 15 minutos.</li>
                        <li class="pt-3  text-md-start">Em uma tigela fazer o recheio de cebola, pimenta e o peixe atum
                            já picado.
                        <li>
                        <li class="pt-3 text-md-start">Enrolar a massa, apalpar, colocar o recheio e dar o formato de
                            coxa. Em seguida passar ao ovo, no pão ralado e fritar.</li>
                        <li class="pt-3 text-md-start">Depois de fritas coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0001.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0001.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Pizza Caseira </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>500g de farinha de trigo</li>
                            <li>1 colher de óleo vegetal</li>
                            <li>1 ovo</li>
                            <li>1 colher de sal</li>
                            <li>300g de tomates já cortadas em rodelas </li>
                            <li>100ml de molho de tomate </li>
                            <li>6 fatias de queijos</li>
                            <li>50 gramas de salsas picadas</li>
                            <li>4 chorissos e 4 salcichas já cortas em rodelas </li>
                            <li>1 colher de fermento biológico seco</li>
                            <li>300ml de água.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Ligar o lume, em uma tigela misturar a água, o sal, o óleo e o
                            ovo, misturar muito bem.</li>
                        <li class="pt-3  text-md-start">Em seguida colocar a farinha de trigo e voltar a misturar
                            durante 3 minutos. Depois de misturar, ontar uma forma de pizza com manteiga e farinha,
                            colocar
                            a massa e leva ao forno durante 30 minutos.</li>
                        <li class="pt-3  text-md-start">Depois de sair do forno, adicionar os queijos, os tomates e por
                            cima o
                            resto dos ingredientes, depois levar novamente ao forno durante 15 minutos.</li>
                        <li class="pt-3 text-md-start">Depois de sair do forno coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0003.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0003.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Salgadinhos de Forno </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>300ml de leite</li>
                            <li>3 colheres de fermento biológico</li>
                            <li>2 ovos</li>
                            <li>100g de açúcar</li>
                            <li>900g de trigo</li>
                            <li>3 colheres de manteiga</li>
                            <li>6 salcichas.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Pegar em uma tigela normal, colocar o leite, o
                            fermento e misturar, em seguida acrescentar os ovos, o leite e misturar muito bem durante
                            30 segundos.
                        </li>
                        <li class="pt-3  text-md-start">Adicionar a farinha de trigo aos poucos, misturar
                            muito bem e deixar a massa descansar durante 20 minutos.</li>
                        <li class="pt-3  text-md-start"> Depois da massa descansar, sovar a massa com a manteiga
                            durante 5 minutos.
                        </li>
                        <li class="pt-3  text-md-start">Depois esticar a massa, colocar as salcichas e enrolar. Cortar
                            em
                            retângulos e levar ao forno durante 5 minutos.</li>
                        <li class="pt-3 text-md-start">Depois de sair do forno coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0002.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0002.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>
    </div>
</main>

<div id="footer"></div>
<div id="footHTML"></div>
<script src="../../assets/js/ready_heads_and_foots.js"></script>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background: lightpink;">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center align-items-center" id="staticBackdropLabel">
                    <i class=" pt-3 "><b>Sobre</b></i> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark" style="background: lightpink;">
                Um empresa para suporte de vários confeiteiros, fornecendo receitas caseiras. <br><br><br>

                <b> <i class="fas fa-user"></i> Proprietário:</b> João Baptista Cachiombo <br>
                <b> <i class="fab fa-dev"></i> Desenvolvedor:</b> Eugénio Cachiombo <br>
            </div>
        </div>
    </div>
</div>