<script src="../../assets/jquery/jquery.js"></script>
<div id="headHTML"></div>
<div id="header"></div>

<title>Tema III</title>
<main>
    <div class="  d-table justify-content-center align-items-center"
        style="min-height: 52.3vh; text-align: justify; width: 100%">

        <center>
            <div class=" mt-5 mb-5" style="width: 80%">
                <div>
                    <b>
                        <p class="display-3 text-center" style="font-weight: bold">Tema III</p>
                    </b>
                    <b>
                        <p class="display-3 text-center" style="font-weight: bold">Recheios de moda</p>
                    </b>
                    <hr>
                </div>

                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Iogurte Caseiro </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>
                        <ul>
                            <li>200ml de água morna</li>
                            <li>100ml de água natural </li>
                            <li>400g de leite em pó </li>
                            <li>50g de iogurte natural</li>
                            <li>200g de açúcar.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol type="1" class=" text-md-start">
                        <li class="pt-3  ">Pegar uma tigela normal, colocar a água natural, o leite e
                            bater com uma batideira eléctrica.</li>
                        <li class="pt-3  text-md-start">Adicionar a água morna, bater durante 1 minuto,
                            depois colocar o iogurte natural e bater novamente. Depois de bater, tapar muito bem e
                            deixar descansar durante 8 horas.</li>
                        <li class="pt-3  text-md-start"> Depois de descansar, colocar o açúcar, a essência e bater
                            mais 1 vez.</li>
                        <li class="pt-3 text-md-start">Depois disso, levar ao frigorífico. Depois de sair do frigorífico
                            toma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0010.jpg"
                                alt="Imagem de yougurte" style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0010.jpg"
                                alt="Imagem de yougurte" style="width: 260px">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Musse de Maracujá </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>2 pacotes de natas</li>
                            <li>4 maracujas, separar o sumo das sementes</li>
                            <li>1 lata de leite condensado.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Pegar uma tigela, bater as natas. Depois de
                            ficar cremosa, adicionar o leite e bater durante 1 minuto.</li>
                        <li class="pt-3  text-md-start">Adicione o sumo de maracujá e bater novamente,
                            depois colocar as sementes por cima e levar ao frigorífico.</li>
                        <li class="pt-3  text-md-start">Depois de sair do frigorífico toma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0011.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0011.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Recheio de Chocolate </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>4 latas de leite condensado </li>
                            <li>8 colheres de manteiga</li>
                            <li>300g de chocolate em pó.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Em uma panela colocar o leite, a manteiga e o chocolate em pó,
                            misturar muito bem e levar ao fogo. Daí misturar sem parar.</li>
                        <li class="pt-3  text-md-start"> Depois da fervido o chocolate, desligar o fogo e levar
                            ao frigorífico.</li>
                        <li class="pt-3  text-md-start">Depois de sair do frigorífico recheia bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0013.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0013.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Recheio de Maracujá </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>2 pacotes de natas</li>
                            <li>1 lata de leite condensado</li>
                            <li>1 pacote de sumo de Maracujá em pó</li>
                            <li>1 maracujá</li>
                            <li>3 colheres de leite em pó.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Pegar em uma tigela normal, colocar os pacotes de
                            natas e bater. Adicionar o leite e bater mais 1 minuto, também adicionar o sumo em pó e
                            bater novamente.
                        </li>
                        <li class="pt-3  text-md-start">Depois disso, pegar uma outra tigela normal, colocar o leite e
                            volta a bater.</li>
                        <li class="pt-3  text-md-start"> Depois de bater, juntar tudo e misturar. Em seguida colocar a
                            maracujá, misturar e depois levar ao frigorífico.
                        </li>
                        <li class="pt-3 text-md-start">Depois de levar no frigorífico recheia bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0012.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0012.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>
    </div>
</main>

<div id="footer"></div>
<div id="footHTML"></div>
<script src="../../assets/js/ready_heads_and_foots.js"></script>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background: lightpink;">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center align-items-center" id="staticBackdropLabel">
                    <i class=" pt-3 "><b>Sobre</b></i> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark" style="background: lightpink;">
                Um empresa para suporte de vários confeiteiros, fornecendo receitas caseiras. <br><br><br>

                <b> <i class="fas fa-user"></i> Proprietário:</b> João Baptista Cachiombo <br>
                <b> <i class="fab fa-dev"></i> Desenvolvedor:</b> Eugénio Cachiombo <br>
            </div>
        </div>
    </div>
</div>