<div id="headHTML"></div>
<script src="../../assets/jquery/jquery.js"></script>
<div id="header"></div>

<title>Tema IV</title>
<main>
    <div class="  d-table justify-content-center align-items-center"
        style="min-height: 52.3vh; text-align: justify; width: 100%">

        <center>
            <div class=" mt-5 mb-5" style="width: 80%">
                <div>
                    <b>
                        <p class="display-3 text-center" style="font-weight: bold">Tema IV</p>
                    </b>
                    <b>
                        <p class="display-3 text-center" style="font-weight: bold">Bolos de moda</p>
                    </b>
                    <hr>
                </div>

                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Bolo Caseiro </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>
                        <ul>
                            <li>100g de açúcar</li>
                            <li>4 colheres de manteiga</li>
                            <li>3 ovos</li>
                            <li>400ml de leite</li>
                            <li>200g de farinha de trigo</li>
                            <li>2 colheres de fermento</li>
                            <li>1 colher de essência de baunilha.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol type="1" class=" text-md-start">
                        <li class="pt-3  text-md-start">Ligar o forno, ontar a forma com farinha e
                            manteiga, pegar uma tigela, bater a manteiga e o açúcar. Em seguida adicionar os
                            ovos, bater até ficar homogéneo.</li>
                        <li class="pt-3  text-md-start">Adicionar o leite, a farinha e bater muito bem, depois
                            colocar a essência, o fermento e misturar muito bem.</li>
                        <li class="pt-3  text-md-start"> Colocar a massa na forma e levar para o forno durante
                            45 à 50 minutos.</li>
                        <li class="pt-3 text-md-start">Depois de sair do forno, deixar esfriar, coma bem que vais
                            Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230927-WA0008.jpg"
                                alt="Imagem de Bolos" style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230927-WA0008.jpg"
                                alt="Imagem de Bolos" style="width: 260px">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Bolo de Côco </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>100g de açúcar</li>
                            <li>4 colheres de manteiga</li>
                            <li>3 ovos</li>
                            <li>400ml de leite</li>
                            <li>200g de farinha de trigo</li>
                            <li>2 colheres de fermento</li>
                            <li>1 colher de essência de baunilha.</li>
                            <li>1 lata de leite condensado.</li>
                            <li>200g de côco ralado.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3  text-md-start">Ligar o forno, ontar a forma com farinha e
                            manteiga, pegar uma tigela, bater a manteiga e o açúcar. Em seguida adicionar os
                            ovos, bater até ficar homogéneo.</li>
                        <li class="pt-3  text-md-start">Adicionar o leite, a farinha e bater muito bem, depois
                            colocar a essência, o fermento e misturar muito bem.</li>
                        <li class="pt-3  text-md-start"> Colocar a massa na forma e levar para o forno durante
                            45 à 50 minutos.</li>
                        <li class="pt-3  text-md-start">Depois de sair do forno, despejar o leite condensado por
                            cima e
                            porvilhar o côco por cima. Coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0027.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0027.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Bolo de Ginguba </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>100g de açúcar</li>
                            <li>4 colheres de manteiga</li>
                            <li>3 ovos</li>
                            <li>400ml de leite</li>
                            <li>200g de farinha de trigo</li>
                            <li>2 colheres de fermento</li>
                            <li>1 colher de essência de baunilha.</li>
                            <li>1 lata de leite condensado.</li>
                            <li>300g de gingubas</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3  text-md-start">Ligar o forno, ontar a forma com farinha e
                            manteiga, pegar uma tigela, bater a manteiga e o açúcar. Em seguida adicionar os
                            ovos, bater até ficar homogéneo.</li>
                        <li class="pt-3  text-md-start">Adicionar o leite, a farinha e bater muito bem, depois
                            colocar a essência, o fermento e misturar muito bem.</li>
                        <li class="pt-3  text-md-start"> Colocar a massa na forma e levar para o forno durante
                            45 à 50 minutos.</li>
                        <li class="pt-3  text-md-start">Depois de sair do forno, deixar esfriar, barrar com leite
                            condensado e
                            colocar as gingubas por toda parte do bolo. Coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0015.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0015.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Bolo de Chocolate </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>100g de açúcar</li>
                            <li>4 colheres de manteiga</li>
                            <li>3 ovos</li>
                            <li>400ml de leite</li>
                            <li>200g de farinha de trigo</li>
                            <li>2 colheres de fermento</li>
                            <li>1 colher de essência de baunilha.</li>
                            <li>200g de chocolate derretido.</li>
                            <li>200g de chocolate em pó.</li>
                            <li>Pirpitas de chocolate.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3  text-md-start">Ligar o forno, ontar a forma com farinha e
                            manteiga, pegar uma tigela, bater a manteiga e o açúcar. Em seguida adicionar os
                            ovos, bater até ficar homogéneo.</li>
                        <li class="pt-3  text-md-start">Adicionar o leite, a farinha e bater muito bem, depois
                            colocar a essência, o fermento e misturar muito bem.</li>
                        <li class="pt-3  text-md-start"> Colocar a massa na forma e levar para o forno durante
                            45 à 50 minutos.</li>
                        <li class="pt-3  text-md-start">Depois de sair do forno, deixar esfriar, barrar com
                            chocolate derretido e
                            porvilhar com pirpitas de chocolate. Coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230927-WA0005.jpg"
                                alt="Bolo de chocolate" style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230927-WA0005.jpg"
                                alt="Bolo de chocolate" style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Bolo Rei </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>300ml de leite </li>
                            <li>3 colheres de fermento biológico</li>
                            <li>2 ovos</li>
                            <li>100g de açúcar</li>
                            <li>900g de trigo</li>
                            <li>3 colheres de manteiga </li>
                            <li>200g de açúcar</li>
                            <li>50g de côco ralado</li>
                            <li>Vários frutos secos.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Ligar o forno, pegar em uma tigela normal,
                            colocar o leite, o fermento e misturar. Em seguida acrescentar os ovos, o leite e
                            misturar
                            muito bem durante 30 segundos.</li>
                        <li class="pt-3  text-md-start">Adiciona a farinha de trigo aos poucos, misturar muito
                            bem e deixar a massa descansar durante 20 minutos.</li>
                        <li class="pt-3  text-md-start">Depois de descansar, sovar a massa, fazer uma bolinha
                            grande,
                            cortar ao meio e coloca todos os frutos secos por cima, em seguida levar ao forno
                            durante 45 minutos.</li>
                        <li class="pt-3 text-md-start"> Depois de sair do forno, coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0025.jpg"
                                alt="Bolo de chocolate" style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0025.jpg"
                                alt="Bolo de chocolate" style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Bolo Pudim </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>2 latas de leite condensado </li>
                            <li>6 ovos</li>
                            <li>1ml de água.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Pegar uma tigela, misturar o leite e os ovos
                            muito bem.</li>
                        <li class="pt-3  text-md-start">Em seguida colocar a água em uma panela e colocar no fogo.
                        </li>
                        <li class="pt-3  text-md-start"> Despeja a mistura na forma, coloca na água e deixar
                            ferver durante 2 horas.</li>
                        <li class="pt-3 text-md-start">Depois de fever, desenformar e levar no frize, em seguida
                            coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0024.jpg"
                                alt="Bolo de chocolate" style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0024.jpg"
                                alt="Bolo de chocolate" style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Bolo de Ananás </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>100g de açúcar</li>
                            <li>4 colheres de manteiga</li>
                            <li> 3 ovos</li>
                            <li>400ml de leite</li>
                            <li>200g de farinha de trigo </li>
                            <li>2 colheres de fermento</li>
                            <li>1 colher de essência de baunilha</li>
                            <li>1 ananás já cortado em rodelas</li>
                            <li>200g de açúcar.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Ligar o forno, pegar em uma tigela, bater a
                            manteiga e o açúcar. Em seguida adicionar os ovos e bater até ficar homogéneo.</li>
                        <li class="pt-3  text-md-start">Adicionar o leite, a farinha e bater muito bem, depois
                            colocar a essência, o fermento e misturar muito bem.</li>
                        <li class="pt-3  text-md-start">Ontar a forma com caramelo de açúcar, as rodelas de
                            ananás, colocar a massa e levar ao forno durante 45 minutos.</li>
                        <li class="pt-3 text-md-start">Depois de sair do forno, tirar da forma já quente e com
                            muito
                            cuidado, agora colocar no tabuleiro e coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0023.jpg"
                                alt="Bolo de chocolate" style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0023.jpg"
                                alt="Bolo de chocolate" style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Cupcake caseiros </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>100g de açúcar </li>
                            <li>4 colheres de manteiga</li>
                            <li>3 ovos</li>
                            <li>400ml de leite</li>
                            <li>200g de farinha de trigo</li>
                            <li>2 colheres de fermento</li>
                            <li>1 colher de essência de baunilha</li>
                            <li>Chocolate derretido</li>
                            <li>1 colher de pirpitas.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Ligar o forno e ontar, as formas com farinha e
                            manteiga. Pegar em uma tigela, bater a manteiga e o açúcar, adicionar os
                            ovos e bater até ficar homogéneo.</li>
                        <li class="pt-3  text-md-start">Adicionar o leite, a farinha e bater muito bem.
                            Colocar a essência, o fermento e misturar muito bem.</li>
                        <li class="pt-3  text-md-start">Colocar a massa nas formas e levar para o forno
                            durante 45 a 50 minutos.</li>
                        <li class="pt-3 text-md-start">Depois de sair do forno, deixar esfriar e fazer a decoração
                            ao seu
                            gosto com um saco pastileiro. E depois coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230927-WA0006.jpg"
                                alt="Bolo  Cupcake" style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230927-WA0006.jpg"
                                alt="Bolo  Cupcake" style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Bolo Chiffon </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>6 ovos, separar agemas das claras</li>
                            <li>100g de Açúcar</li>
                            <li>100g de farinha de trigo</li>
                            <li>3 colheres de Maizena</li>
                            <li>5 colheres de óleo</li>
                            <li>1 colher de essência de baunilha</li>
                            <li>2 colheres de fermento</li>
                            <li>150ml de leite.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Ligar o forno, pegar uma tigela e bater
                            as claras com o açúcar até embranquiçar, depois adicionar o leite
                            e voltar a bater.</li>
                        <li class="pt-3  text-md-start">Adicionar a farinha e a maizena, aos poucos e bater
                            durante 2 minutos.</li>
                        <li class="pt-3  text-md-start">Pegar uma outra tigela e bater as claras até ficar bem
                            firme.</li>
                        <li class="pt-3 text-md-start">Voltar para a massa, adicionar a essência, o fermento
                            e misturar devagar com uma colher de pau.</li>
                        <li class="pt-3 text-md-start">Adicionar as claras na massa, misturar muito bem e
                            devagar, colocar no forno durante 50 minutos.</li>
                        <li class="pt-3 text-md-start">Depois de sair do forno, acompanhar com um bom recheio e coma
                            bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0021.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0021.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Bolo de Aniversário </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>1 bolo chiffon de 15cm de altura</li>
                            <li>Chantilly branco já feito</li>
                            <li>Recheio de chocolate e de maracujá</li>
                            <li>Pérolas doces.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Pegar em uma bailarina, colocar uma rodela de
                            cada vez e recheiar.</li>
                        <li class="pt-3  text-md-start">Depois de recheiar, colocar o papel acetado e deixar
                            repousar 5
                            minutos. Depois de repousar, barrar o bolo com o chantilly e decorar com as flores.
                            Depois
                            disso, levar ao freezer e quando sair coma bem que vais Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0020.jpg"
                                alt="Bolo  Cupcake" style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0020.jpg"
                                alt="Bolo  Cupcake" style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>
    </div>
</main>

<div id="footer"></div>
<div id="footHTML"></div>
<script src="../../assets/js/ready_heads_and_foots.js"></script>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background: lightpink;">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center align-items-center" id="staticBackdropLabel">
                    <i class=" pt-3 "><b>Sobre</b></i> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark" style="background: lightpink;">
                Um empresa para suporte de vários confeiteiros, fornecendo receitas caseiras. <br><br><br>

                <b> <i class="fas fa-user"></i> Proprietário:</b> João Baptista Cachiombo <br>
                <b> <i class="fab fa-dev"></i> Desenvolvedor:</b> Eugénio Cachiombo <br>
            </div>
        </div>
    </div>
</div>