<div id="headHTML"></div>
<script src="../../assets/jquery/jquery.js"></script>
<div class="d-none" id="header"></div>

<title>Tema V</title>
<main class="d-none">
    <div class="  d-table justify-content-center align-items-center"
        style="min-height: 52.3vh; text-align: justify; width: 100%">

        <center>
            <div class=" mt-5 mb-5" style="width: 80%">
                <div>
                    <b>
                        <p class="display-3 text-center" style="font-weight: bold">Tema V</p>
                    </b>
                    <b>
                        <p class="display-3 text-center" style="font-weight: bold">Pratos Saudáveis</p>
                    </b>
                    <hr>
                </div>

                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Arroz Colorido </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>
                        <ul>
                            <li>300g de arroz</li>
                            <li>100ml de óleo vegetal</li>
                            <li>300ml de água</li>
                            <li>1 cebola já picada</li>
                            <li>1 pimenta já picada</li>
                            <li>200g de azeitonas verdes e pretas</li>
                            <li>300g de ervilhas</li>
                            <li>2 cenouras já picadas</li>
                            <li>1 lata de peixe atum já picado</li>
                            <li>2 colheres de sal </li>
                            <li>2 salcichas e 2 chorissos já cortados em rodelas</li>
                            <li>100g de salsa</li>
                            <li>1 folha de louro.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol type="1" class=" text-md-start">
                        <li class="pt-3  text-md-start">Em uma panela colocar o óleo, a cebola, o sal, as cenouras,
                            pimenta e a folha de louro. Deixar cozinhar durante 40 segundos, de seguida adicionar a água
                        </li>

                        <li class="pt-3  text-md-start">Quando a água ferver, adicionar o arroz, as ervilhas, o atum, os
                            chorissos, as salcichas, as salsas e misturar muito bem. Deixar a cozinhar durante 14
                            minutos</li>

                        <li class="pt-3  text-md-start"></li>
                        <li class="pt-3 text-md-start">Depois de cuzer coloque as azeitonas por cima e come bem que
                            vaz Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0019.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0019.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Massa com Tudo </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>300gm de massa</li>
                            <li>100ml de óleo vegetal</li>
                            <li>300ml de água</li>
                            <li>1 cebola já picada</li>
                            <li>1 pimenta já picada</li>
                            <li>300gm de ervilhas</li>
                            <li>2 cenoras já picadas</li>
                            <li>1 lata de carninha</li>
                            <li>2 colher de sal</li>
                            <li>2 salcícia e 2 chorissos já cortados em rodelas</li>
                            <li>100gm de salsa</li>
                            <li>4 tomates já cortados em rodelas</li>
                            <li>1 folha de louro.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Em uma panela coloque o óleo a cebola o sal a cenoura a
                            pimenta os tomate a folha de louro e deixa cusinhar 40segundos e em segui adiciona a
                            água.</li>
                        <li class="pt-3  text-md-start">quando a água ferver adicione a massa as ervilhas a
                            carninha os chorissos as salcícia a salça e misture muito bem e deixa cuzer durante
                            10min.</li>
                        <li class="pt-3  text-md-start">Depois de cuzer decora aos seus gostos e come bem que vaz
                            Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0018.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0018.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Arroz Verde </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>300gm de arroz</li>
                            <li>200gm de salsa já triturada</li>
                            <li>100ml de óleo</li>
                            <li>500ml de água</li>
                            <li>1 lata de ervilha</li>
                            <li>1 cebola já picada</li>
                            <li>1 pimenta já picada</li>
                            <li>1 folha de louro.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Começa por pegar em uma panela e coloque o óleo a cebola a
                            pimenta a folha de louro deixa conzinhar durante 30segundo, depois misture e adicione a
                            água.</li>
                        <li class="pt-3  text-md-start">Depois da água ferver adicione as salsas o arroz as
                            ervilhas e deixa cozinhar durante 30min.</li>
                        <li class="pt-3  text-md-start">Depois de sair come bem que vaz Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0017.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0017.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>

        <center>
            <div class="mb-5" style="width: 80%">
                <div class=" d-table  ">
                    <div class="text-center text-md-start pb-3">
                        <h1 class="text-primary text-md-start"> Bacalhau com Natas </h1>
                        <h4 class="text-danger text-md-start"> "John Sabores" </h4>
                    </div>

                    <div class="text-start">
                        <span class="text-primary ">
                            <b>Ingredientes:</b>
                        </span>

                        <ul>
                            <li>2 Metade de bacalhau já fervido com sal e alho</li>
                            <li>1 cebola já picada </li>
                            <li>1 pimenta já picada</li>
                            <li>500ml de leite </li>
                            <li>5 batatas fritas em cubos</li>
                            <li>100ml de azeite</li>
                            <li>500ml de leite em líquido</li>
                            <li>3 pacotes de natas</li>
                            <li>4 colher de sal</li>
                            <li>5 queijo ralado</li>
                            <li>400gm de azeitonas verdes e pretas.</li>
                        </ul>
                    </div>

                    <p class="text-start pt-3 pb-3" style="margin-bottom: -20px; font-weight: bold">
                        Como fazer: </p>
                    <ol style="font-weight: none">
                        <li class="pt-3 text-md-start">Em uma no fogo panela coloque o coloque o azeite a cebolas a
                            pimenta o sal a folha de louro e deixa cozinhar durante 5min.</li>
                        <li class="pt-3  text-md-start"> Agora pega uma outra panela e coloque o leite e as natas e
                            uma colher de sal misture e deixa ferver durante 5min.</li>
                        <li class="pt-3  text-md-start">Agora coloque as batatas fritas o bacalhau já picado e o
                            molho da natas com leite misture muito bem.</li>
                        <li class="pt-3 text-md-start">Agora em um tabuleiro coloca a nossa comida e depois coloque
                            o queijo ralado e as azeitonas por cima e leve ao forno durante 30min.</li>
                        <li class="pt-3 text-md-start">Depois de sair já sabes a dica, come bem que vaz Amar.</li>
                    </ol>

                    <div class="mb-3 col-7 col-md-2 text-center text-md-start" style="width: 100%">
                        <div class="pt-5 d-none d-md-block pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0016.jpg" alt=""
                                style="width: 70%">
                        </div>
                        <div class="pt-5 d-block d-md-none  pb-5 col-md-6">
                            <img class="img-fluid" src="../../assets/img/fotos_produtos/IMG-20230923-WA0016.jpg" alt=""
                                style="width: 260px">
                        </div>
                    </div>
                </div>

                <hr>
            </div>
        </center>
    </div>
</main>

<div class="d-none" id="footer"></div>
<div id="footHTML"></div>
<script src="../../assets/js/ready_heads_and_foots.js"></script>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background: lightpink;">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center align-items-center" id="staticBackdropLabel">
                    <i class=" pt-3 "><b>Sobre</b></i> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark" style="background: lightpink;">
                Um empresa para suporte de vários confeiteiros, fornecendo receitas caseiras. <br><br><br>

                <b> <i class="fas fa-user"></i> Proprietário:</b> João Baptista Cachiombo <br>
                <b> <i class="fab fa-dev"></i> Desenvolvedor:</b> Eugénio Cachiombo <br>
            </div>
        </div>
    </div>
</div>