name: Deploy to awardspace

on:
  push:
    branches:
      - main
jobs:
  build:
     name: Deploy
     runs-on: ubuntu-latest
     
     steps:
     -  name: Baixar a pasta
        uses: actions/checkout@v3