<script src="../../assets/jquery/jquery.js"></script>
<div id="headHTML"></div>
<div id="header"></div>

<title>Página Inicial</title>
<main>
    <div class="  d-table justify-content-center align-items-center"
            style="min-height: 52.3vh; text-align: justify; width: 100%">
            <div class="col mt-5 mb-5 p-5 ">
                <center>
                    <div>
                        <h1><b>Seja Bem-Vindo</b></h1>
                        <h1><b>Receitas de Confeitarias</b></h1>
                        <div class="col pt-5">
                            <img src="../../assets/img/logo.jpg" alt="" style="width: 200px">
                        </div>
                    </div>

                    <div class="pt-5 d-flex justify-content-center">
                        Detalhamos receitas para facilitar a vida de alguns confeiteiros.
                    </div>
                </center>
            </div>

            <div class="col-12 mt-5 mb-5 p-5 text-white" style="width: 100%; background: lightcoral">
                <center>
                    <div>
                        <h1><b>Temos para si, as melhores receitas caseiras</b></h1>
                        <div class="col pt-5">
                            <img class="img-fluid rounded-circle" src="../../assets/img/bolo.jpg" alt="" style="width: 200px">
                        </div>
                    </div>

                    <div class="pt-5 d-flex justify-content-center">
                        Bolo de aniversário feito com carinho e muito amor, aqui em John sabores.
                    </div>
                </center>
            </div>

            <div class="col-12 mt-5 mb-5 p-5 " style="width: 100%; ">
                <center>
                    <div id="tamaI">
                        <h1><b>Temas</b></h1>
                        <div class="col pt-5">
                            <img class="img-fluid rounded-circle"
                                src="../../assets/img/fotos_produtos/IMG-20230923-WA0014.jpg" alt="" style="width: 200px">
                        </div>
                    </div>

                    <div class="pt-5 d-flex justify-content-center">
                        Para as receitas caseiras, reservamos 5 temas onde cada tema possui receitas diferentes para ser
                        aplicada em sua confeitaria.
                    </div>
                </center>
            </div>
        </div>
</main>

<div id="footer"></div>
<div id="footHTML"></div>
<script src="../../assets/js/ready_heads_and_foots.js"></script>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background: lightpink;">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center align-items-center" id="staticBackdropLabel">
                    <i class=" pt-3 "><b>Sobre</b></i> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark" style="background: lightpink;">
                Um empresa para suporte de vários confeiteiros, fornecendo receitas caseiras. <br><br><br>

                
                <b> <i class="fas fa-user"></i> Proprietário:</b> João Baptista Cachiombo <br>
                <b> <i class="fab fa-dev"></i> Desenvolvedor:</b> Eugénio Cachiombo <br>
            </div>
        </div>
    </div>
</div>